.footer__author {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 928px) {
  .footer__author {
    margin-left: 19px;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (928 - 320)));
    line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (928 - 320)));
  }
}