.elements__button-like {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/button__like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 22px 22px;
    border: none;
    cursor: pointer;
    align-self: center;
  }
  
  .elements__button-like:hover {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
  }