.auth__input {
  padding: 0;
  vertical-align: sub;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  height: 27px;
  background-color: #000;
  color: #CCC;
  outline: none;
  outline-offset: 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  padding-bottom: 8px;
}

@media screen and (max-width: 320px) {
  .auth__input {
    width: 260px;
    font-size: 14px;
    line-height: 17px;
  }
}